@import "../../index";

.travel {
  background-image: url("../../images/travel-bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;

  .slider-arrows {
    top: 225px;
    opacity: 0.25;
  }
}

.travel-slider {
  &__head {
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 780px;
  }

  &__descr {
    padding: 160px 0 0 132px;
    min-height: 320px;
    margin-top: -230px;
    background-repeat: no-repeat;
    background-position: right center;

    .descr__head {
      position: relative;
      padding-right: 78px;

      img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &__subtitle {
    text-align: right;
    padding: 132px 80px 0 0;
  }

  &__btn {
    text-align: center;
  }
}

.travel-slider__info {
  display: flex;
  justify-content: space-around;
}

.travel-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.travel-slider__info-subtitle {
  position: absolute;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  transform: rotate(-90deg);
  text-align: right;
  top: 97px;
  left: -97px;
  width: 200px;
  height: 0;
  white-space: nowrap;
}

.travel-slider__info-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 40px;
  position: relative;

  span {
    position: absolute;
    font-size: 14px;
    text-align: right;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 5.25px;
    opacity: 0.75;
    bottom: -8px;
    right: 0;
  }
}